.about-me{
    width: 700px;
    margin: 40px auto;
    margin-bottom: 10px;
}

@media only screen and (max-width:900px){
    .about-me{
        width: 600px;
        position: relative;
        
    }
    
}

@media only screen and (max-width:500px){
   
}