:root{
   
   
    --background-color :black;
    --navbar-color: #fff;
    --button-color: #00a8e8;
    --text-color: black;

}

.dark-theme{
    --background-color :#ffff;
    --navbar-color: black;
    --button-color: #00a8e8;
    --text-color: #ffffff;
}

.content-form{
    width: 500px;
    display: block;
    margin: 100px auto;
    margin-bottom: 0;
}

form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--navbar-color);
    border-radius: 15px;
    opacity: .5;
    box-shadow: 0 0  4px var(--navbar-color);

}


.name, .email,  #message{
   margin: 20px;
   width: 100%;
   background: var(--background-color);
   border-radius: 15px;
   padding: 10px;
   
   
   
}
.email input, .name input{
   background: var(--background-color);
   width: 100%;
   font-weight: bold;
   font-size: large;

   
}

p{
    color: var(--navbar-color);
    margin: 20px;
   
}
form input{

    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px; 
    
}


.message textarea{
    background: wheat;
    color: var(--navbar-color);
    border: none;
    
}

@media only screen and (max-width: 800px){

    .content-form{
        width: 400px;
        display: block;
        margin: 100px auto;
        margin-bottom: 0;
    }

}