:root{
   
   
    --background-color :black;
    --navbar-color: #fff;
    --button-color: #00a8e8;
    --text-color: black;

}

.dark-theme{
    --background-color :#ffff;
    --navbar-color: black;
    --button-color: #00a8e8;
    --text-color: #ffffff;
}


.content-form{
    width: 500px;
    margin: 100px auto;
    margin-bottom: 0;
    
   
}

.form{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px var(--navbar-color);
    margin-right: 20px;
    background-color: var(--navbar-color);
}

form .email input{
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    background: #ccc;
    width: 100%;

}

form .name input{
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    background: #ccc;
    width: 100%;
    border: none;
}

form .message textarea{
    outline: none;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    
    border-radius: 15px;
    background: #ccc;
    width: 100%;
}

form .button button{
    outline: none;
    position: relative;
    left: 380px;
    background: var(--button-color);
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.name input:focus, .email input:focus, .message textarea:focus{
    box-shadow: 0 0 5px var(--button-color);
}

p{
    position: relative;
    color: var(--button-color);
    width: 400px;
    left: 50px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;

}



@media only screen and (max-width: 800px){
        p{
            width: 300px;
            z-index: -1;
           
        }

        .content-form{
            width: 400px;
            
        }
        form .button button{
            left: 280px;
        }
}

@media only screen and (max-width:500px){
    .content-form{
        width: 300px;
        margin-bottom: 20px;
    }   
    form .button button{
        left: 185px;
    }
    .form-header p{
        left: 0px;
    }

    #message-txt{
        position: relative;
        left: -10px;
        color: red;
    }
}