*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color :black;
    --navbar-color: #ffffff;
    --button-color: #00a8e8;
    --text-color: black;

}

body{
    background: var(--background-color);
}
/* ----------------partie nav_bar ---------------------*/
.navBar{
        background: var(--navbar-color);
        height: 100vh;
        
        
        
}

.container{
    display: grid;
    grid-template-columns: 150px auto;
}

.navBar nav {
    margin: 250px auto;
       
}
ul{
    margin-left: 5px;
}
ul li a{
    outline: none;
    text-decoration: none;
    transition: all 0.9s ;
    padding-top: 10px;
      
}
ul li ion-icon{
    padding-right: 10px;
    font-size: 20px;
    color: var(--text-color);
}
ul li{
    list-style: none;
    margin: 0 0 20px 0;
    
    
}

li a span{
    position: absolute;
    color: var(--text-color);
    transform: translateX(-50px);
    transition:all  0.9s ;
    z-index: -1;  

   
}



a:hover span{
    z-index: 1;
    transform: translateX(0);
    transition: all 0.9s;
}

a:hover{
    padding: 10px 70px 0 0;
    transition: all 0.9s;
    background: var(--button-color);
}
/*============Fin==================*/

/*--------------Partie body -------------------*/
.content{
    color: var(--navbar-color);
    width: 100%;
    padding: 50px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.titre{
    margin: 20px;
}
.titre h1{
    margin-top: 20px;
    margin-left: 10px;
}
.titre h1 span{
    margin-right: 10px;
    color: var(--button-color)
}
.profile-image div{
    width: 200px;
    border-radius: 50%;
    border: 20px solid var(--button-color);
    padding: 0px;
}

.profile-image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}
    
.description{
    width: 100%;
    display: flex;
    margin-left: 20px;
}
.description div{
    width: 70%;
    line-height: 20px;
}
.logo{
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 100px;
    
}

.background{
    margin-top: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 40px 100px 40px;
    align-items: center;
}
.background ion-icon{
    color: var(--navbar-color);
    
}
.slider{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}
.slider input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider .btn {
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    
    
}

.btn::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 20px;
    background-color: var(--navbar-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .btn{
    background-color: var(--button-color);
}
input:checked + .btn::before{
    transform: translateX(40px);
    -moz-transform: translateX(40px);
    -webkit-transform: translateX(40px);

}
.btn{
    border-radius: 34px;
}

.btn::before{
    border-radius: 50%;
}

/*==============Fin==================*/

/*----------Responsive-----------------*/

@media only screen and (max-width:800px){
   .description{
    justify-content: flex-start;
    margin-left: 10px;
   }
   .description div{
    width: 100%;
   }

   .container{
    display: grid;
    grid-template-columns: 50px auto;
}

.content{
    margin: 50px auto;
    padding: 10px;
    gap: 20px;
}   
    .profile-image div{
    width: 120px;
    border-radius: 50%;
    border: 20px solid white;
    padding: 0px;
}
.titre{
    font-size: 12px;
    margin: 0px;
}

}