*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color :#050f0f;
    --navbar-color: #fffbfe;
    --button-color: #219ebc;

}

body{
    background: var(--background-color);
}
/* ----------------partie nav_bar ---------------------*/
.navBar{
        background: var(--navbar-color);
        height: 100vh;
        
        
        
}

.container{
    display: grid;
    grid-template-columns: 150px auto;
}

.navBar nav {
    margin: 250px auto;
       
}
ul{
    margin-left: 5px;
}
ul li a{
    outline: none;
    text-decoration: none;
    transition: all 0.9s ;
    padding-top: 10px;
      
}
ul li ion-icon{
    padding-right: 10px;
    font-size: 20px;
    color: var(--background-color);
}
ul li{
    list-style: none;
    margin: 0 0 20px 0;
    
    
}

span{
    position: absolute;
    color: red;
    transform: translateX(-50px);
    transition:all  0.9s ;
    z-index: -1;  

   
}



a:hover span{
    z-index: 1;
    transform: translateX(0);
    transition: all 0.9s;
}

a:hover{
    padding: 10px 70px 0 0;
    transition: all 0.9s;
    background: var(--button-color);
}
/*============Fin==================*/

/*--------------Partie body -------------------*/
.content{
    color: var(--navbar-color);
    width: 100%;
    padding: 50px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.titre{
    margin: 20px;
}
.profile-image div{
    flex: 2;
    width: 200px;
    border-radius: 50%;
    border: 20px solid white;
}

.profile-image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}
    
.description{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.description div{
    width: 50%;
    line-height: 20px;
}
/*==============Fin==================*/