{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanif_Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
</head>
<body>

    <div class="logo">
        <div class="carre">
            <h1>D</h1>
            <h2>J</h2>
            <h3>Hanif</h3>
        </div>

        <div class="background">
            <ion-icon name="moon-outline"></ion-icon>
            <label class="slider">
                    <input type="checkbox" id="slider">
                    <span class="btn"></span>
            </label>
            <ion-icon name="sunny-outline"></ion-icon>
        </div>
    </div>

    <div class="container">
        <div class="navBar">
            <div class="menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
           
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"><ion-icon name="home-outline"></ion-icon><span>Home</span></a></li>
                    <li><a href="{% url 'project' %}"><ion-icon name="briefcase-outline"></ion-icon><span>Projects</span></a></li>
                    <li><a href="{% url 'contact' %}"><ion-icon name="mail-open-outline"></ion-icon><span>Contact</span></a></li>
                    <li><a href="{% url 'about' %}"><ion-icon name="person-outline"></ion-icon><span>About Me</span></a></li>
                </ul>
                
            </nav>
                
            
        </div>
        <div class="content">
            <div class="profile">
            <div class="titre">
                <h2>Python backend developer</h2>
                <h1>I'm</h1>
                <h1><span>DJANFAROU</span>hanif</h1>

            </div>
            <div class="profile-image">
                <div>
                    <img src="/static/image/2.jpg" alt="">
                </div>
               
            </div>
            </div>
            <div class="about-me">
                <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Reprehenderit quam odit quod repellat quasi at id ullam
                            consequatur enim reiciendis nulla dolorum magni, aut quos 
                            fuga repellendus distinctio beatae. Quis magni distinctio
                            eveniet aliquid expedita rem quod ipsam itaque! Voluptatem
                            blanditiis officia at sint, aliquid optio ab, reprehenderit
                                provident eaque soluta doloribus recusandae aut rem dolore?
                                Cumque minus dolores inventore ipsa reprehenderit in omnis at eveniet 
                                quod? Asperiores consectetur illum sint nesciunt amet minus fuga
                                perferendis consequatur alias voluptatem reiciendis distinctio praesentium
                                voluptatibus inventore doloribus illo ullam voluptas deleniti, odio commodi 
                                cumque. Asperiores delectus debitis dolor beatae voluptate quia consequatur, amet,
                                    nulla odit eligendi voluptas molestiae fuga esse impedit libero provident accusamus? 
                                    Labore, cumque. Labore necessitatibus possimus, recusandae esse ab, voluptas quia et
                                    assumenda nostrum provident ipsa earum sequi itaque deleniti. Voluptas labore fuga possimus.
                                    Asperiores ipsum necessitatibus quidem voluptatem, explicabo debitis totam nostrum, similique 
                                    doloremque molestiae ex, impedit facere eos natus dolorem numquam tenetur distinctio deserunt optio!
                                    Officia nihil veniam at blanditiis atque quia magni, ipsam neque illum nulla ut non facilis dignissimos dolor. Sit id
                                    recusandae consectetur a asperiores numquam ex quod accusamus laudantium ipsam veniam 
                                    repudiandae placeat quas eveniet esse exercitationem
                            earum voluptatem magni, praesentium, nisi assumenda?
                </div>
            </div>


        </div>
    </div>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
<script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>