{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanif_Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
   
</head>
<body>

    <div class="logo">
        <div class="carre">
            <h1>D</h1>
            <h2>J</h2>
            <h3>Hanif</h3>
        </div>

        <div class="background">
            <ion-icon name="moon-outline"></ion-icon>
            <label class="slider">
                    <input type="checkbox" id="slider">
                    <span class="btn"></span>
            </label>
            <ion-icon name="sunny-outline"></ion-icon>
        </div>
    </div>

    <div class="container">
        <div class="navBar">
            <div class="menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
           
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"><ion-icon name="home-outline"></ion-icon><span>Home</span></a></li>
                    <li><a href="{% url 'project' %}"><ion-icon name="briefcase-outline"></ion-icon><span>Projects</span></a></li>
                    <li><a href="{% url 'contact' %}"><ion-icon name="mail-open-outline"></ion-icon><span>Contact</span></a></li>
                    <li><a href="{% url 'about' %}"><ion-icon name="person-outline"></ion-icon><span>About Me</span></a></li>
                </ul>
                
            </nav>
        </div>
        <!-- -------------contact Form------------ -->
        <div class="content-form">
            <div class="form-header">
                <p>Lorem ipsum dolor sit amet consectetur 
                     hic consequatur eum .</p>
            </div>
            <div class="form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="name">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="email">
                        <input type="email" name="email" placeholder="Email@gmail.com">
                    </div>
                    <div class="message">
                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message..............."></textarea>
                    </div>
                    <div class="button">
                        <button>Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- ===============Fin =========================== -->
    </div>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
<script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
<script src="/static/js/scripts.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>