{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanif_Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    
</head>
<body>

    <div class="logo">
        <div class="carre">
            <h1>D</h1>
            <h2>J</h2>
            <h3>Hanif</h3>
        </div>

        <div class="background">
            <ion-icon name="moon-outline"></ion-icon>
            <label class="slider">
                    <input type="checkbox" id="slider">
                    <span class="btn"></span>
            </label>
            <ion-icon name="sunny-outline"></ion-icon>
        </div>
    </div>

    <div class="container">
        <div class="navBar">
            
            <div class="menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
           
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"><ion-icon name="home-outline"></ion-icon><span>Home</span></a></li>
                    <li><a href="{% url 'project' %}"><ion-icon name="briefcase-outline"></ion-icon><span>Projects</span></a></li>
                    <li><a href="{% url 'contact' %}"><ion-icon name="mail-open-outline"></ion-icon><span>Contact</span></a></li>
                    <li><a href="{% url 'about' %}"><ion-icon name="person-outline"></ion-icon><span>About Me</span></a></li>
                </ul>
                
            </nav>
                
            
        </div>
        <div class="content">
            
            
            <div class="projects-description">
                <h3 class="h3">LES PROJECT QUE J'AI U A FOR</h3>
            </div>
            <div class="project-container">
               
               
                <!-- ===============1=============== -->
                {% for project in projects %}
               <div class="project">
                
                <figure>
                    <img src="{{project.image}}" alt="">
                </figure>
                <h2>{{project.title}}</h2>
                    <p>{{project.description |slice:":200"}}......<button><a href="{% url 'project_post' %}?project_id={{project.id}}">Lire</a></button></p>
               </div>
               <!-- -------------Fin-------------------- -->
       
               {% endfor %}
        </div>

        </div>
    </div>
    <footer>
        <h3>Mes reseau sociaux</h3>
        <div class="sociaux-icon">
            <a href="https://github.com/Djanfarouhanif"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://www.linkedin.com/in/hanif-djanfarou-5056142b9/"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
        </div>
    </footer>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
<script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>