{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanif_Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'project.css' %}">
    
</head>
<body>

    <div class="logo">
        <div class="carre">
            <h1>D</h1>
            <h2>J</h2>
            <h3>Hanif</h3>
        </div>

        <div class="background">
            <ion-icon name="moon-outline"></ion-icon>
            <label class="slider">
                    <input type="checkbox" id="slider">
                    <span class="btn"></span>
            </label>
            <ion-icon name="sunny-outline"></ion-icon>
        </div>
    </div>

    <div class="container">
        <div class="navBar">
            
            <div class="menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
           
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}"><ion-icon name="home-outline"></ion-icon><span>Home</span></a></li>
                    <li><a href="{% url 'project' %}"><ion-icon name="briefcase-outline"></ion-icon><span>Projects</span></a></li>
                    <li><a href="{% url 'contact' %}"><ion-icon name="mail-open-outline"></ion-icon><span>Contact</span></a></li>
                    <li><a href="{% url 'about' %}"><ion-icon name="person-outline"></ion-icon><span>About Me</span></a></li>
                </ul>
                
            </nav>
                
            
        </div>
        <div class="content">
            
            
            
            <div class="project-container">
                <div class="projects-description">
                    <h3>LES PROJECT QUE J'AI U A FOR</h3>
                </div>
                <!-- ===============1=============== -->
               <div class="project">
                <figure>
                    <img src="/static/image/images.jpg" alt="">
                </figure>
                <h2>Blog</h2>
                    <p>mon premier project 
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, qui?<button>Lire</button></p>
               </div>
               <!-- -------------Fin-------------------- -->
               <!-- ===============1=============== -->
               <div class="project">
                <figure>
                    <img src="/static/image/201488518-ordinateur-d-espace-de-travail-d-entreprise-moderne-bureau-équipement-technologie-générée-par-l.jpg" alt="">
                    
                </figure>
                <h2>Blog</h2>
                    <p>mon premier project Lorem ipsum dolor sit amet consectetur
                         adipisicing elit. Perspiciatis, eos?<button>Lire</button></p>
                    
               </div>
               <!-- -------------Fin-------------------- -->
                <!-- ===============1=============== -->
                <div class="project">
                    <figure>
                        <img src="/static/image/images.jpg" alt="">
                    </figure>
                    <h2>Blog</h2>
                    <p>mon premier project Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Sequi, velit?<button>Lire</button></p>
                    
                   </div>
                   <!-- -------------Fin-------------------- -->
        </div>

        <div class="post">
                 <!-- ===============1=============== -->
                 <div id="project">
                    <div id="profile">
                        <figure>
                            <img src="/static/image/201488518-ordinateur-d-espace-de-travail-d-entreprise-moderne-bureau-équipement-technologie-générée-par-l.jpg" alt="">
                        </figure>
                        <h2>Automation blog</h2>
                    </div>
                    <div id="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et illo odit 
                        similique nisi impedit a expedita cum quidem necessitatibus voluptatum 
                        fugiat rem molestias, atque sit ut, excepturi eaque veniam maiores recusandae
                         labore, enim deleniti possimus commodi. Cupiditate quam ab asperiores consequatur
                          reiciendis vel consectetur. Sapiente, harum ad fugit quas vero labore minus earum ab. Recusandae exercitationem voluptate, 
                          iure vitae delectus nobis odio ut ab quod aliquid maiores laudantium sed temporibus quia nemo 
                          autem eius magni dignissimos velit. Harum distinctio saepe tenetur corporis vel repellat modi fuga ut molestias
                           hic, dolores enim natus reiciendis?
                         Fugit reiciendis assumenda tempore? Aliquam, labore exercitationem.
                    </div>
                 </div>
        </div>
       
        </div>
    </div>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
<script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>
</body>
</html>